main {
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 300px;
  top: 20%;
  left: 15%;

}



.swiper-wrapper {


}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  width: 30% !important;
  height: 300px !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}